APP_ENV=prod
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=amgeljodi
CLIENT_URL=https://app.amgeljodi.com
COOKIE_DOMAIN=.amgeljodi.com
JWT_SECRET=replace-me
MSG_TOKEN=
MSG91_WIDGET_ID=
S3_BUCKET_NAME=amgel-jodi-s3
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
CLOUDFRONT_DOMAIN=static.amgeljodi.com
CLOUD_FRONT_KEY=
STAGE_OTP_CODE=1111
